name: Format

on: [push, pull_request]

jobs:
  run_cargo_fmt:
    name: Run cargo fmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Add Tool
        run: rustup component add rustfmt
      - name: Check Format
        run: cargo fmt -- --check
